<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConexionAzure" connectionString="DefaultEndpointsProtocol=http;AccountName=queue01;AccountKey=yriUqOJGoihvOH4eVbPtZMG0BWyiwlO7cfOZK/hCGG8bT+8ap/xPo5rczr/Mwit7t3Q7tk4ZaFWwG3xRTkJs2Q=="/>
  </connectionStrings>
</configuration>